.navcss {
	width: flex;
	height: 100px;
	background-color: #666666;
	border-bottom: 5px;
	border-style: solid;
	border-color: #4aaaaf;
}
.headcss {
	font-family: 'Georgia', Times, serif;
	float:left;
	font-size: 30px;
	background-color: #4aaaaf;
	margin-left: 50px;
	padding: 15px;
	color: white;
	margin-top: 2px;
	width: 223px;
}
.img {
	width: auto;
	height: 325px;
  }

.bg-white {
	background-color: white;
}
.pad-top-head {
	margin-top: 8px;
}
.pad-top-small {
	margin-top: 10px;
}
.pad-top {
	margin-top: 15px;
}
.pad-top-far {
	margin-top: 15%;
}
.pad-bottom{
	margin-bottom: 15px;
}
.pad-left {
	margin-left: 20px;	
}
.pad-left-far {
	margin-left: 25%;
}
.pad-right {
	margin-right: 20px;
}
.pad-right-far {
	margin-right: 25%;
}
.h2 {
	font-family: 'Georgia', Times, serif;
	font-size: 25px;
	color: #4aaaaf;
	}
.footer {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #eee;
	bottom: 0;
	
	text-align: center;
	height: 50px;
	width: 100%;
	background-color: #666666;
	border-top: 5px;
	border-style: solid;
	border-color: #4aaaaf;
	left: 0;
}
.contact-background {
	max-width: 100%;
	padding-top: 15px;
	border-style: solid;
	border-bottom: 10px;
	border-color: #4699a8;
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}
.border-black {
	border-style: solid;
	border: thick;
	border: double;
	border-color: #000000;
}
.border {
	border-bottom: 5px;
	border-style: solid;
	border-color: #4aaaaf;
}
.form {
	background-color: #ffffff;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 15px;
	padding-bottom: 15px;
}
.two-column-div {
	column-count: 2;
   }
/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 50%;
	padding: 10px;
}
.column33 {
	float: left;
	width: 33.33%;
	padding: 10px;
}
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }
.carousel-align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.button-black {
	  background-color: #000000;
}
